<html>

<head>
  <title>reCaptcha</title>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body>
  <form action="/send" method="POST">
    <input required type="text" name="email" placeholder="Email" />
    <br>

    <div name="jj" class="g-recaptcha" data-sitekey="6LfjJ1IeAAAAAOM9508egaxProJTpvgaQlYeznrb"></div>
    <input type="submit">


  </form>



  <script src='https://www.google.com/recaptcha/api.js'></script>
</body>

</html>