<html>

<head>
  <title>hCaptcha</title>
  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
</head>

<body>
  <form action="/send" method="POST">
    <input required type="text" name="email" placeholder="Email" />
    <br>

    <!-- <div name="jj" class="h-captcha" data-sitekey="f53b9c2f-9ad5-47f5-869d-d3521d3ac4c8"></div> -->

    <div class="h-captcha" data-sitekey="f53b9c2f-9ad5-47f5-869d-d3521d3ac4c8"></div>

    <input type="submit" value="Submit">

  </form>



  <script src='https://www.google.com/recaptcha/api.js'></script>
</body>

</html>